.ImageCropperContainer {
  margin: 0 auto;
  width: 100%;
  position: relative;
}

.ImageCropper {
  width: 100%;
}

.Dropzone {
  position: relative;
  height: 100%;
  width: 100%;
  background: #ededed;
  margin: 0 auto;
}

.mouseoutTrigger {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: all;
  cursor: -webkit-grab;
}

.ImageCropper__result {
  position: absolute;
  top: 0;
  left: 0;
  cursor: -webkit-grab;
  transform-origin: 0 0;
  will-change: transform;
}

.dragIndicatorContainer {
  color: rgba(255,255,255,.8);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

.dragIndicator {
  background: rgba(0, 0, 0, .2);
  padding: 5px 10px;
  border-radius: 3px;
}
